<section class="hero">

    <div class="container">

        <div class="row align-items-center min-vh-100">

            <!-- Left Side -->

            <div class="col-lg-6">

                <span class="badge bg-info text-dark mb-3">
                    AI Powered Cyber Security
                </span>

                <h1 class="display-3 fw-bold">

                    Protect Yourself From
                    <span class="text-info">
                        Online Fraud
                    </span>

                </h1>

                <p class="lead mt-4">

                    SentinelAI analyzes suspicious URLs,
                    SMS messages and QR Codes using
                    Artificial Intelligence to detect
                    cyber threats before they can harm you.

                </p>

                <div class="mt-5">

                    <a href="#features"
                       class="btn btn-primary btn-lg me-3">

                        Get Started

                    </a>

                    <a href="#"
                       class="btn btn-outline-light btn-lg">

                        Learn More

                    </a>

                </div>

            </div>

            <!-- Right Side -->

            <div class="col-lg-6 text-center">

                <i class="bi bi-shield-lock-fill hero-icon"></i>

            </div>

        </div>

    </div>

</section>